body{
    background-color: rgb(16, 17, 28);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

.loginMessage {
    color: gray;
}

#greeting{
    font-size: 2em;
}

#logInButton{
    color:aliceblue;
    padding:2em;
    text-decoration: none;
}

#logInButton:hover{
    color:skyblue;
    text-decoration: underline;
}

#sign-in{
    display: flex;
    flex-direction: column;
    padding:2em;
    width: 20em;
    border: 1px solid white;
    border-radius: 40px;

}


#signUpButton {
    color: antiquewhite;
    text-decoration: none;
    margin-bottom:2em;
}

#signUpButton:hover{
   text-decoration: underline;
    color:skyblue;
    letter-spacing: 1px;
}


#signUpForm{
    border:1px solid white;
    border-radius: 40px;
    padding:2em;
    width: 20em;
}

input{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 40px;
    color: white;
    padding:1em;
}

.submit-button{
    margin-top: 1em;
    width:13em;
}

.submit-button:hover{
    background-color: aliceblue;
    color: rgb(6, 12, 71);
    border-color: rgb(68, 7, 98);
}


#home{
    color: antiquewhite;
    text-decoration: none;
    
}

#home:hover{
    text-decoration: underline;
    color:aquamarine;
}

h2, h3{
    font-weight: 100;
}

#err{
    color: gray;
}

p{
    color: gray;
}


#logout{
    padding:1em;
}

#home{
    color: gray;
    padding:1em;
    text-decoration: none;
}

#home:hover{
    opacity: 80%;
    text-decoration: underline;
}


.protectedPage{
    color: aliceblue;
    margin-top:2em;
    margin-bottom:2em;
    text-decoration: none;

}

.protectedPage:hover{
    color: red;
    text-decoration: unerline;
}


.logout{
    position:fixed;
    top:1em;
    right:1em;
    color:white;
    background-color: transparent;
    border: 1px solid antiquewhite;
}

.logout:hover{
    background-color: aliceblue;
    color:black;
    border-color: black;
}


input:placeholder-shown{
    color: white;
}

#verifyHeader{
    color:aqua;
}

#verified{
    opacity:40%;
    color: greenyellow;
    position:relative;
    bottom:-10em;
}

#verifyEmail{
    background-color: transparent;
    color: rgb(68, 68, 80);
    border:none;
    font-size:1.3em;
    position:relative;
    bottom:-10em;
}

#verifyEmail:hover{
    text-decoration: underline;
    color:rgb(41, 75, 105);
    
}

#checkVerificationCode{
    display:none;
}

#getCodeLink{
    padding:1em;
    color: white;
    text-decoration:none;
}

#getCodeLink:hover{
    text-decoration: underline;
}