{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/styles.css' %}">
    <title>Home</title>
    
</head>
<body>
    <!--Simple if-else statement that renders user.username and logout button if user is active
    otherwise returns a message and a login button-->
    {% if user.is_authenticated %}
    <div>
    <header id='greeting' class="loginMessage">
        Hello, {{ user.username }}!</header>
    <form class='link' id='logout' method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class='logout' type="submit">Logout</button><br>
    </form>
    <!-- Checking if user verified using 2FA -->
    {% if has_totp_device %}
        <p id="verified">Congratulations! You are verified.</p>
    {% else %}
        <form method="post" action="{% url 'setup_2fa' %}">
    {% csrf_token %}
    <!-- If not verified, giving him the option to verify with email -->
        <button id='verifyEmail' type="submit">Verify my email.</button>
    </form>
    {% endif %}
    </div>

{% else %}
<div>
    <h3 class="loginMessage">You are not logged in.</h3>
    <a id='logInButton' href="{% url 'log_in' %}">Log in</a><br>
    </div>
{% endif %}
<!--Link to the website1.html with providing code that will be used in website2.html also-->
<a id='getCodeLink' href="{% url 'website1' %}?code=c123-345-123">Website 1</a>
    <!--Page that requires authorisation-->
<a class='protectedPage' href="{% url 'protected' %}">Protected page.</a>
</body>
</html>
